body {
    background-color: bisque;
    filter: blur(0px);
}

h1 {
    text-align: center;
}

.podcast-player {
    width: 50%;
    margin: 200px auto 50px auto;
    border: 1px solid black;
}

.podcast-player audio {
    display: block;
    margin: 2px auto 10px auto;

}

.cheers {
    text-align: center;
}

button {
    margin-top: 10px;
    font-size: 3em;
}