* {
    margin: 0px;
}

html, body {
    box-sizing: border-box;
    height: 100%;
    min-height: 600px;
    font-size: 18px;
    background-color: #3F3244;
    color: #F7F0F5;
}

body, input, textarea, button {
    font-family: 'Muli', sans-serif;
}

body {
    background: no-repeat url("/static/hhbg.svg");
    background-size: 100% 100%;
}

svg {
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
}

.header {
    padding-top: 30px;
    /* margin-bottom: 60px; */
}

.header div {
    width: 430px;
    line-height: 1.8rem;
    margin: 0 auto 0 auto;
}

@media (max-width: 500px) {
    .header div {
        width: 250px;
    }
}

.header h2 {
    text-align: center;
    font-family: 'Fugaz One', cursive;
    font-size: 2rem;
}

.content {
    padding: 2px;
}

.podcast-wrapper {
    width: 50%;
    height: 235px;
    overflow: auto;
    padding: 20px;
    margin: 25px auto 0 auto;
}

h5 {
    font-weight: 400;
}

@media (max-width: 768px) {
    .podcast-wrapper {
        height: 105px;
        width: 90%;
    }
}

@media (max-width: 300px) {
    .podcast-wrapper {
        height: 80px;
        margin-top: 10px;
        background-color: lightgrey;
    }
}

.podcast-wrapper hr {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.podcast-wrapper::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}

.podcast-wrapper::-webkit-scrollbar-track {
    background-color: rgba(57,57,57, .6);
    border-radius: 8px;
}

.podcast-wrapper::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #C6878F;
}

h5 {
    margin-bottom: 10px;
}

.podcast-player {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 300px) {
    .podcast-player {
        width: 75%;
    }
}

.drink-selector {
    text-align: center;
    margin: 20px 5px 0 5px;
}

.drink-selector p {
    font-size: 1.1em;
    margin-bottom: 5px;
}

.drink-selector hr {
    width: 165px;
    margin-left: auto;
    margin-right: auto;
}

.drink-selector label {
    height: 30px;
    margin-right: 10px;
}

:checked + span {
    font-size: 1.1em;
    font-weight: 400;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

input[type="radio"] {
    display: none;
}

.button-wrapper {
    margin-top: 40px;
    text-align: center;
}

button {
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
    background-color: #C6878F;
    color: #2F2235;
    border: 1px solid transparent;
    box-shadow: 1px 1px 7px #00000040;
}

button:hover {
    background-color: #ca8f98;
}

button:focus {
    outline: none;
    border-bottom: 1px solid #ddda1d4b;
    border-right: 1px solid #ddda1d4b;
}

.slidelabels {
    margin: 50px 25% 5px 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slidecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 8px;
    border-radius: 15px;   
    background: #dcdcdd;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #C6878F;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #C6878F;
}

/* general class to hide stuff :) */
.hide {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}