* {
    margin: 0px;
}

html, body {
  box-sizing: border-box;
  height: 100%;
  font-family: 'Inika', serif;
  font-size: 1rem;
  color: #c14442;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 75px auto 30px;
}

.header {
    grid-column: 1 / -1;
    background-color: #afbf9b;
    text-align: center;
    padding: 10px;
}

.content {
    grid-column: 1 / -1;
    padding: 10px;
}

.podcast-wrapper {
    width: 75%;
    height: 250px;
    overflow: auto;
    padding: 20px;
    margin: 50px auto 0 auto;
}

hr {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

h5 {
    margin-bottom: 10px;
}

.podcast-player {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-wrapper {
    margin-top: 15px;
    text-align: center;
}

button {
    border-radius: 5px;
    text-align: center;
    font-size: 2rem;
    background-color: #f7e9ba;
    font-family: 'Inika', serif;
    border: 1px solid transparent;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
}

button:focus {
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.drink-selector {
    text-align: center;
    margin-top: 20px;
}

.drink-selector p {
    font-size: 1.2em;
}

.drink-selector label {
    margin-right: 10px;
}

input[type="radio"] {
    margin-top: 20px;
}


.slidelabels {
    margin: 50px 25% 5px 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slidecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #afbf9b;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #afbf9b;
}

.footer {
    grid-column: 1 / -1;
    background-color: #afbf9b;
}