<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <title>Cheers!</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <h2>{{ r_json.title}}</h2>
        </div>
        <div class="content">
            <div class="podcast-wrapper">
                <div class="podcast-player">
                    <h5>{{ r_json.episodes[0].title }}</h5>
                    <audio controls src="{{ r_json.episodes[0].audio }}"></audio>
                </div>
                <hr>
                <div class="podcast-player">
                    <h5>{{ r_json.episodes[1].title }}</h5>
                    <audio controls src="{{ r_json.episodes[1].audio }}"></audio>
                </div>
                <hr>
                <div class="podcast-player">
                    <h5>{{ r_json.episodes[2].title }}</h5>
                    <audio controls src="{{ r_json.episodes[2].audio }}"></audio>
                </div>
                <hr>
                <div class="podcast-player">
                    <h5>{{ r_json.episodes[3].title }}</h5>
                    <audio controls src="{{ r_json.episodes[3].audio }}"></audio>
                </div>
                <hr>
                <div class="podcast-player">
                    <h5>{{ r_json.episodes[4].title }}</h5>
                    <audio controls src="{{ r_json.episodes[4].audio }}"></audio>
                </div>
                <hr>
                <div class="podcast-player">
                    <h5>{{ r_json.episodes[5].title }}</h5>
                    <audio controls src="{{ r_json.episodes[5].audio }}"></audio>
                </div>
                <hr>
                <div class="podcast-player">
                    <h5>{{ r_json.episodes[6].title }}</h5>
                    <audio controls src="{{ r_json.episodes[6].audio }}"></audio>
                </div>
                <hr>
                <div class="podcast-player">
                    <h5>{{ r_json.episodes[7].title }}</h5>
                    <audio controls src="{{ r_json.episodes[7].audio }}"></audio>
                </div>
                <hr>
                <div class="podcast-player">
                    <h5>{{ r_json.episodes[8].title }}</h5>
                    <audio controls src="{{ r_json.episodes[8].audio }}"></audio>
                </div>
                <hr>
                <div class="podcast-player">
                    <h5>{{ r_json.episodes[9].title }}</h5>
                    <audio controls src="{{ r_json.episodes[9].audio }}"></audio>
                </div>
            </div>
            <div class="drink-selector">
                <hr>
                <p>What are we drinking?</p>
                <label><input type="radio" name="drink" value="beer" checked="checked"><span>beer</span></label>
                <label><input type="radio" name="drink" value="wine"><span>wine</span></label>
                <label><input type="radio" name="drink" value="gin"><span>gin</span></label>
                <label><input type="radio" name="drink" value="whiskey"><span>whiskey</span></label>
            </div>
            <div class="button-wrapper">
                <button>
                    Cheers!
                </button>
            </div>
            <div class="slidelabels">
                <p>Sober</p>
                <p>:)</p>
            </div>
            <div class="slidecontainer">
                <input type="range" min="0" max="10" value="0" class="slider" id="myRange">
            </div>
        </div>
        <div class="footer"></div>
    </div>
</body>
</html>